<a href="https://colab.research.google.com/github/SatayamMishra/task1-Data-Analytics-samviddhi-/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **`Problem -1  `** Data Analytics

To create an ML model for evaluating teaching assistant performance

## **Import the all required libraries**

In [241]:
import numpy as np
import pandas as pd
from sklearn.model_selection import  train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import joblib

## **Reading the data**

In [242]:
dataframe = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Task1/data.csv" ,
                        names=['speaker', 'course_instructor', 'course', 'semester',
                               'class_size', 'class'])
print("Data Import Succesfully")
dataframe.head()

Data Import Succesfully

   speaker  course_instructor  course  semester  class_size  class
0        1                 23       3         1          19      3
1        2                 15       3         1          17      3
2        1                 23       3         2          49      3
3        1                  5       2         2          33      3
4        2                  7      11         2          55      3

In [243]:
dataframe.shape

(151, 6)

In [244]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   speaker            151 non-null    int64
 1   course_instructor  151 non-null    int64
 2   course             151 non-null    int64
 3   semester           151 non-null    int64
 4   class_size         151 non-null    int64
 5   class              151 non-null    int64
dtypes: int64(6)
memory usage: 7.2 KB

In [245]:
dataframe.describe()

,speaker,course_instructor,course,semester,class_size,class
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,1.807947,13.642384,8.105960,1.847682,27.867550,2.019868
std,0.395225,6.825779,7.023914,0.360525,12.893758,0.820327
min,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000
25%,2.000000,8.000000,3.000000,2.000000,19.000000,1.000000
50%,2.000000,13.000000,4.000000,2.000000,27.000000,2.000000
75%,2.000000,20.000000,15.000000,2.000000,37.000000,3.000000
max,2.000000,25.000000,26.000000,2.000000,66.000000,3.000000

## **Checking missing values**

In [246]:
dataframe.isnull().sum()

speaker              0
course_instructor    0
course               0
semester             0
class_size           0
class                0
dtype: int64

## **Checking the duplicate values**

In [247]:
dataframe.duplicated().sum()

41

## **Deleting the duplicate values**

In [248]:
dataframe.drop_duplicates()

     speaker  course_instructor  course  semester  class_size  class
0          1                 23       3         1          19      3
1          2                 15       3         1          17      3
2          1                 23       3         2          49      3
3          1                  5       2         2          33      3
4          2                  7      11         2          55      3
..       ...                ...     ...       ...         ...    ...
146        2                  3       2         2          26      1
147        2                 10       3         2          12      1
148        1                 18       7         2          48      1
149        2                 22       1         2          51      1
150        2                  2      10         2          27      1

[110 rows x 6 columns]

In [249]:
dataframe.nunique()

speaker               2
course_instructor    25
course               26
semester              2
class_size           46
class                 3
dtype: int64

## **Now Devided the data into "Atributes" and "Labels"**

In [250]:
x = dataframe.iloc[:]
y = dataframe['class']

## **Split the data into the Training and Testing sets**

In [251]:
x_train, x_test, y_train, y_test = train_test_split(x , y, test_size = 0.3, random_state=0)

## **Print train and test dataframe size**

In [252]:
print("X_Train shape :: ", x_train.shape)
print("Y_Train shape :: ",y_train.shape)
print("X_Test shape :: ", x_test.shape)
print("Y_Test shape :: ", y_test.shape)

X_Train shape ::  (105, 6)
Y_Train shape ::  (105,)
X_Test shape ::  (46, 6)
Y_Test shape ::  (46,)

## **Now Train our model using random forest classifier Algorithm**

In [253]:
clf = RandomForestClassifier()
model = clf.fit(x_train, y_train)

In [254]:
predictions = model.predict(x_test)

## **Compare with actual and predicted class**

In [255]:
for i in range(0,20):
  print("Actual Class >-- {}  ||||  Predicted Class >-- {}".format(list(y_test)[i],predictions[i]))

Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 2  ||||  Predicted Class >-- 2
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 2  ||||  Predicted Class >-- 2
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 2  ||||  Predicted Class >-- 2
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 2  ||||  Predicted Class >-- 2
Actual Class >-- 2  ||||  Predicted Class >-- 2
Actual Class >-- 1  ||||  Predicted Class >-- 1
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 3  ||||  Predicted Class >-- 3
Actual Class >-- 2  ||||  Predicted Class >-- 2

## **Check train and test accuracy**

In [256]:
print("Train acuuracy :: ", accuracy_score(y_train, model.predict(x_train)))
print("Test acuuracy :: ", accuracy_score(y_test, predictions))

Train acuuracy ::  1.0
Test acuuracy ::  1.0

# **Print confusion matrix**

In [257]:
confusion_matrix = confusion_matrix(y_test, predictions)
confusion_matrix

array([[ 9,  0,  0],
       [ 0, 18,  0],
       [ 0,  0, 19]])

## **Check accuracy on such as precision, recall and f1-score**

In [258]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        18
           3       1.00      1.00      1.00        19

    accuracy                           1.00        46
   macro avg       1.00      1.00      1.00        46
weighted avg       1.00      1.00      1.00        46

## **Save the model**

In [259]:
joblib.dump(model, "/content/drive/MyDrive/Colab Notebooks/Task1/my_model.joblib")

['/content/drive/MyDrive/Colab Notebooks/Task1/my_model.joblib']